<div class="app-container">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="over">
            <mat-nav-list>
                <mat-list-item [routerLink]="'home'" (click)="sidenav.toggle()">
                    <mat-icon class="pad-it">home</mat-icon>Home
                </mat-list-item>
                <mat-list-item [routerLink]="'featured'" (click)="sidenav.toggle()">
                    <mat-icon class="pad-it">star</mat-icon>Featured
                </mat-list-item>
                <mat-list-item [routerLink]="'categories'" (click)="sidenav.toggle()">
                    <mat-icon class="pad-it">view_module</mat-icon>Categories
                </mat-list-item>
                <mat-list-item [routerLink]="'contact'" (click)="sidenav.toggle()">
                    <mat-icon class="pad-it">email</mat-icon>Contact Us
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <span class="title-left">App Name</span>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>


    <!-- <mat-sidenav-container>
        <mat-sidenav #sidenav mode="push">
            <mat-selection-list>
                <mat-list-option>
                    Home
                </mat-list-option>
                <mat-list-option>
                    Something
                </mat-list-option>
                <mat-list-option>
                    Else
                </mat-list-option>
                <mat-list-option>
                    Home
                </mat-list-option>
            </mat-selection-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div>
                <mat-toolbar color="primary">
                    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                </mat-toolbar>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container> -->
</div>